<!DOCTYPE html>
<html>
  <head>
    <title>影视猫爸</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="影视猫爸">
<#assign path="${request.getContextPath()}">
<link rel="stylesheet" href="${path}/static/jquery-weui/lib/weui.min.css">
<link rel="stylesheet" href="${path}/static/jquery-weui/css/jquery-weui.css">
<link rel="stylesheet" href="${path}/static/jquery-weui/css/demos.css">

    <style>
      .swiper-container {
        width: 100%;
      } 

      .swiper-container img {
        display: block;
        width: 100%;
      }
      
      .weui-grid_self_icon{
		  width:100%;
		  height:50%;
		  margin:0 auto;
       }
       
       .grey-5 {
		    display: block;
		    position: relative;
		    border: none;
		    padding: 2px 1px;
		    text-align: center;
		    background-color: white;
     }
    </style>
  </head>

  <body ontouchstart>
    <div class="swiper-container" style="height: 30%">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><a href="https://m.mgtv.com/b/322253/4300503.html"><img style="height: 200px" src="https://4img.hitv.com/preview/internettv/sp_images/ott/2018/dianshiju/322253/20180208151728496-new.jpg" /></a></div>
        <div class="swiper-slide"><a href="http://m.iqiyi.com/a_19rrh9z6o5.html?vfm=2008_aldbd"><img style="height: 200px" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3927328742,2488608923&fm=27&gp=0.jpg" /></a></div>
        <div class="swiper-slide"><img style="height: 200px" src="${path}/static/jquery-weui/image/0.jpg" /></div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <br>
    <div data-role="line" style="text-align: center;" class="grey-5">————影院入口————</div>
    <div class="weui-grids">
      <a href="https://www.bobmao.com" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/1.png" alt="">
        </div>
        <p class="weui-grid__label">
                         一号影厅
        </p>
      </a>
      <a href="http://m.wxlntv.com/search.html" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/2.png" alt="">
        </div>
        <p class="weui-grid__label">
                      二号影厅
        </p>
      </a>
      <a href="http://m.zaixiantt.com/#/home" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/3.png" alt="">
        </div>
        <p class="weui-grid__label">
                  三号影厅
        </p>
      </a>
      <a href="http://www.cswanda.com/movie/play.html" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/4.png" alt="">
        </div>
        <p class="weui-grid__label">
                       四号影厅
        </p>
      </a>
      <a href="https://91mjw.com" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/5.png" alt="">
        </div>
        <p class="weui-grid__label">
                       美剧影厅
        </p>
      </a>
      <a href="http://m2.kanketv.com/wechat-2.0-wxtv/#/index_db" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/6.png" alt="">
        </div>
        <p class="weui-grid__label">
                     六号影厅
        </p>
      </a>
      <!-- <a href="http://乐乐.d.tutulai.cn" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/7.png" alt="">
        </div>
        <p class="weui-grid__label">
                      七号影厅
        </p>
      </a>
      <a href="http://www.yingshiha.com" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/8.png" alt="">
        </div>
        <p class="weui-grid__label">
                        八号影厅
        </p>
      </a> -->
     <!--  <a href="https://91mjw.com" class="weui-grid js_grid">
        <div class="weui-grid__icon">
          <img src="${path}/static/jquery-weui/image/9.png" alt="">
        </div>
        <p class="weui-grid__label">
                      美剧影厅
        </p>
      </a> -->
    </div>  
    <br>
    
    <div data-role="line" style="text-align: center;" class="grey-5">————今日推荐————</div>  
    <div class="weui-grids">
      <a href="http://m.le.com/vplay_1578861.html?from=pc_detail" class="weui-grid js_grid">
        <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=358753599,1517862232&fm=58" alt="">
        </div>
        <p class="weui-grid__label">
            <font style="size: 12px;">甄嬛传</font>
        </p>
      </a>
      <a href="https://wx.m.tv.sohu.com/album/s6909864.shtml" class="weui-grid js_grid">
         <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=314731892,1666754705&fm=58" alt="">
        </div>
        <p class="weui-grid__label">
                         血族第一季
        </p>
      </a>
      <a href="https://wx.m.tv.sohu.com/20151120/n427188181.shtml?txid=10ad708cb3c0cfcd5ea81608c0a558de" class="weui-grid js_grid">
         <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1563917145,2019427719&fm=58&w=117&h=161&img.JPEG" alt="">
        </div>
        <p class="weui-grid__label">
                       血族第二季
        </p>
      </a>
      <a href="http://m.v.baidu.com/tvplay/24491?src=video" class="weui-grid js_grid">
         <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss2.baidu.com/6OV1bjeh1BF3odCf/it/u=1907507670,3943866443&fm=20" alt="">
        </div>
        <p class="weui-grid__label">
                      血族第三季
        </p>
      </a>
      <a href="http://m.iqiyi.com/v_19rrl9vhkw.html?vfm=2008_aldbd" class="weui-grid js_grid">
         <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=625883618,848608949&fm=58" alt="">
        </div>
        <p class="weui-grid__label">
                    唐人街探案
        </p>
      </a>
      <a href="http://m.iqiyi.com/v_19rrnr18nc.html?vfm=2008_aldbd" class="weui-grid js_grid">
         <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=168550037,3580397476&fm=58&bpow=400&bpoh=552" alt="">
        </div>
        <p class="weui-grid__label">
                     捉妖记
        </p>
      </a>
      <a href="http://www.1905.com/vod/play/m/85525.shtml?fr=vod_5" class="weui-grid js_grid">
        <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2113762008,2858735107&fm=58" alt="">
        </div>
        <p class="weui-grid__label">
                      大话西游(1)
        </p>
      </a>
      <a href="http://m.v.baidu.com/movie/14994?src=video" class="weui-grid js_grid">
        <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss1.baidu.com/6OZ1bjeh1BF3odCf/it/u=341698199,4267975244&fm=20" alt="">
        </div>
        <p class="weui-grid__label">
                     大话西游(2)
        </p>
      </a>
      <a href="http://m.iqiyi.com/v_19rr9tq5fg.html" class="weui-grid js_grid">
         <div class="weui-grid_self_icon">
          <img style="width: 100%;height: 130px" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2206769343,568164086&fm=58&bpow=1000&bpoh=1509" alt="">
        </div>
        <p class="weui-grid__label">
                        西游伏魔篇
        </p>
      </a>
    </div>  
    <script src="${path}/static/jquery-weui/lib/jquery-2.1.4.js"></script>
    <script src="${path}/static/jquery-weui/lib/fastclick.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="${path}/static/jquery-weui/js/jquery-weui.js"></script>
<script src="${path}/static/jquery-weui/js/swiper.js"></script>

    <script>
      $(".swiper-container").swiper({
        loop: true,
        autoplay: 3000
      });
    </script>
  </body>
</html>
