<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>猫爸系统</title>
	<meta name="renderer" content="webkit">
	<#assign path="${request.getContextPath()}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="${path}/static/layui/css/layui.css" media="all" />
</head>
<body class="childrenBody">
    <blockquote class="layui-elem-quote permission_search">
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" value="" placeholder="请输入关键字" class="layui-input search_input">
		    </div>
		    <a class="layui-btn search_btn">查询</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn clear_btn" style="background-color:#5FB878">清空查询</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal permissionAdd_btn">添加权限</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
		</div>
		<!-- <div class="layui-inline">
			<div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的文章外所有操作无效，关闭页面所有数据重置</div>
		</div> -->
	</blockquote>
	<div class="layui-form permission_list">
	    <table id="demo" lay-filter="test"></table>
	     <div id="laypage"></div>  
	</div>
	<script type="text/javascript" src="${path}/static/layui/layui.js"></script>
	<script>
	var limitcount = 10;  
    var curnum = 1;  
	kvContentSearch(curnum,limitcount);
	function kvContentSearch(pageIndex,pageSize){
		layui.use(['table','laypage','laydate'], function(){
		  var table = layui.table,  
          laydate=layui.laydate,  
          laypage = layui.laypage;  
          
		  debugger
		  
		  //function kvContentSearch(pageIndex,pageSize){
			  //第一个实例
			  table.render({
			     elem: '#demo',
			     height: 315,
			     url: '/kvcontent/queryContentDemoList?pageIndex='+pageIndex+'&pageSize='+pageSize, //数据接口
			     page: true, //开启分页
			     cols: [[ //表头
			      {type:'checkbox'}       
			      ,{field: 'source', title: '来源', width:80}
			      ,{field: 'title', title: '标题', width:80, sort: true}
			      ,{field: 'subtitle', title: '二级标题', width:80} 
			      ,{field: 'year', title: '年份', width: 177}
			      ,{field: 'area', title: '地域', width: 80, sort: true}
			    ]],
			     done: function(res, curr, count){
			    	debugger
			    	laypage.render({ 
			    		    //elem:'laypage',
			    		    count:count, 
	                        curr:curnum, 
	                        limit:limitcount , 
	                        //layout: ['prev', 'page', 'next', 'skip','count','limit'],  
					    	jump:function (obj,first) {  
					    		debugger
			                    if(!first){  
			                        curnum = obj.curr;  
			                        limitcount = obj.limit;  
			                        kvContentSearch(curnum,limitcount);  
			                    }  
			                }  
	                        
			    	})
			      }
			  });
		  //}
		 
		});
	}
	</script>	
</body>
</html>