<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>猫爸系统</title>
	<meta name="renderer" content="webkit">
	<#assign path="${request.getContextPath()}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="${path}/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="${path}/static/css/font_eolqem241z66flxr.css" media="all" />
</head>
<body class="childrenBody">
	<form  class="layui-form layui-form-pane">
	  <input type="hidden" name="terminalType" value="0"/>
	  <input type="hidden" name="id" value="${permission.id}"/>
	  <div class="layui-form-item">
	    <label class="layui-form-label">权限名称</label>
	    <div class="layui-input-block">
	      <input type="text" name="moduleName"  value="${permission.moduleName}" required  lay-verify="required" placeholder="请输入权限名称" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">权限编码</label>
	    <div class="layui-input-block">
	      <input type="text" name="permissionCode" value="${permission.permissionCode}" required  lay-verify="required" placeholder="请输入权限编码" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	    <label class="layui-form-label">权限路径</label>
	    <div class="layui-input-block">
	      <input type="text" name="permissionUrl" value="${permission.permissionUrl}"  placeholder="请输入权限路径" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	  
	  <div class="layui-form-item">
	   <label class="layui-form-label">权限类型</label>
	   <div class="layui-input-inline">
          <select name="permissionType" lay-verify="permissionType">
                <#if permission.permissionType = 0 >
			    	   <option value="0" checked>目录</option> 
                       <option value="1" >资源</option> 
		    	<#elseif permission.permissionType = 1>
		    	      <option value="0" >目录</option> 
                      <option value="1" checked>资源</option> 
		    	<#else>
		    	      <option value="" >--请选择--</option>
		    	      <option value="0" >目录</option> 
                      <option value="1" >资源</option> 
		    	</#if>
          </select>
       </div>       
	  </div>
	  
	  <div class="layui-form-item">
	   <label class="layui-form-label">租户组</label>
	   <div class="layui-input-inline">
         <select id="tenantNames" name="tenantId" lay-verify="required">
	        <option value="">--请选择--</option>
	        <option value="${permission.tenantId!}"  selected="selected">${permission.tenantName!}</option> 
	     </select>
       </div>       
	  </div>
	  
	  
	  <div class="layui-form-item">
	   <label class="layui-form-label">父类菜单</label>
	   <div class="layui-input-inline">
          <select name="parentId" id="parentIds" lay-verify="permissionType">
               <option value="" >--请选择--</option> 
               <option value="${permission.parentId!}"  selected="selected">${permission.parentName!}</option> 
          </select>
       </div>       
	  </div>
	  
	  
	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn" lay-submit lay-filter="editPermission">立即提交</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	      <button class="layui-btn layui-btn-normal" id="back">返回</button>
	    </div>
	  </div> 
	</form>
	<script type="text/javascript" src="${path}/static/layui/layui.js"></script>
	<script type="text/javascript" src="${path}/static/system/permissionEdit.js"></script>
</body> 
