<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kittydaddy.metadata.vcontent.dao.KVContentItemEntityMapper" >
  <resultMap id="BaseResultMap" type="com.kittydaddy.metadata.vcontent.domain.KVContentItemEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="item_channel" property="itemChannel" jdbcType="VARCHAR" />
    <result column="item_title" property="itemTitle" jdbcType="VARCHAR" />
    <result column="item_sn" property="itemSn" jdbcType="INTEGER" />
    <result column="item_period" property="itemPeriod" jdbcType="VARCHAR" />
    <result column="item_summary" property="itemSummary" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="content_id" property="contentId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_channel, item_title, item_sn, item_period, item_summary, status, content_id, 
    create_time, update_time
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from k_video_content_item
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="queryItemTitleAndPeriod" resultMap="BaseResultMap" >
    select * from k_video_content_item where item_title = #{itemTitle} and item_period = #{itemPeriod} and status = 1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from k_video_content_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kittydaddy.metadata.vcontent.domain.KVContentItemEntity" useGeneratedKeys="true" keyProperty="id">
   <selectKey keyProperty="id" resultType="String" order="BEFORE">
       SELECT UUID() FROM dual
    </selectKey>
    insert into k_video_content_item (id, item_channel, item_title, 
      item_sn, item_period, item_summary, 
      status, content_id, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{itemChannel,jdbcType=VARCHAR}, #{itemTitle,jdbcType=VARCHAR}, 
      #{itemSn,jdbcType=INTEGER}, #{itemPeriod,jdbcType=VARCHAR}, #{itemSummary,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{contentId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kittydaddy.metadata.vcontent.domain.KVContentItemEntity" >
   <selectKey keyProperty="id" resultType="String" order="BEFORE">
       SELECT UUID() FROM dual
    </selectKey>
    insert into k_video_content_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemChannel != null" >
        item_channel,
      </if>
      <if test="itemTitle != null" >
        item_title,
      </if>
      <if test="itemSn != null" >
        item_sn,
      </if>
      <if test="itemPeriod != null" >
        item_period,
      </if>
      <if test="itemSummary != null" >
        item_summary,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="contentId != null" >
        content_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="itemChannel != null" >
        #{itemChannel,jdbcType=VARCHAR},
      </if>
      <if test="itemTitle != null" >
        #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemSn != null" >
        #{itemSn,jdbcType=INTEGER},
      </if>
      <if test="itemPeriod != null" >
        #{itemPeriod,jdbcType=VARCHAR},
      </if>
      <if test="itemSummary != null" >
        #{itemSummary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="contentId != null" >
        #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kittydaddy.metadata.vcontent.domain.KVContentItemEntity" >
    update k_video_content_item
    <set >
      <if test="itemChannel != null" >
        item_channel = #{itemChannel,jdbcType=VARCHAR},
      </if>
      <if test="itemTitle != null" >
        item_title = #{itemTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemSn != null" >
        item_sn = #{itemSn,jdbcType=INTEGER},
      </if>
      <if test="itemPeriod != null" >
        item_period = #{itemPeriod,jdbcType=VARCHAR},
      </if>
      <if test="itemSummary != null" >
        item_summary = #{itemSummary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="contentId != null" >
        content_id = #{contentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kittydaddy.metadata.vcontent.domain.KVContentItemEntity" >
    update k_video_content_item
    set item_channel = #{itemChannel,jdbcType=VARCHAR},
      item_title = #{itemTitle,jdbcType=VARCHAR},
      item_sn = #{itemSn,jdbcType=INTEGER},
      item_period = #{itemPeriod,jdbcType=VARCHAR},
      item_summary = #{itemSummary,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      content_id = #{contentId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>