<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kittydaddy.metadata.vcontent.dao.KVContentEntityMapper" >
  <resultMap id="BaseResultMap" type="com.kittydaddy.metadata.vcontent.domain.KVContentEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sub_origin_id" property="subOriginId" jdbcType="VARCHAR" />
    <result column="origin_id" property="originId" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="short_flag" property="shortFlag" jdbcType="INTEGER" />
    <result column="episode_count" property="episodeCount" jdbcType="INTEGER" />
    <result column="episode_exist" property="episodeExist" jdbcType="INTEGER"/>
    <result column="directors" property="directors" jdbcType="VARCHAR" />
    <result column="actors" property="actors" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="last_sn" property="lastSn" jdbcType="INTEGER" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="origin_pub_time" property="originPubTime" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="genres" property="genres" jdbcType="VARCHAR" />
    <result column="yester_play_count" property="yesterPlayCount" jdbcType="INTEGER" />
    <result column="weekly_play_count" property="weeklyPlayCount" jdbcType="INTEGER" />
    <result column="total_play_count" property="totalPlayCount" jdbcType="INTEGER" />
    <result column="img_small_url" property="imgSmallUrl" jdbcType="VARCHAR" />
    <result column="img_medium_url" property="imgMediumUrl" jdbcType="VARCHAR" />
    <result column="img_large_url" property="imgLargeUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_publish" property="isPublish" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="is_free" property="isFree" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="operate_id" property="operateId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sub_origin_id, origin_id, source, title, subtitle, rate, tags, channel, short_flag, 
    episode_count,episode_exist, directors, actors, year, last_sn, duration, area, origin_pub_time, 
    language, genres, yester_play_count, weekly_play_count, total_play_count, img_small_url, 
    img_medium_url, img_large_url, status, is_publish, summary, is_free, create_time, 
    update_time, publish_time, operate_id
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from k_video_content
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!--根据第三方标识id进行查询影视内容-->
  <select id="queryKvContentBySubOriginId" resultMap="BaseResultMap">
     select * from k_video_content where sub_origin_id = #{subOriginId,jdbcType=VARCHAR} and status = 1
  </select>
  
  <!--分页查询状态内容-->
  <select id="queryKvContentByPage" resultMap="BaseResultMap">
     select * from k_video_content where 1=1
     <if test="id!=null and id!=''">
        and id=#{id,jdbcType=VARCHAR}
     </if>
     <if test="title !=null and title !=''">
        and title like CONCAT('%','${title}','%' )
     </if>
     <if test="status !=null and status !=''">
        and status = #{status,jdbcType=INTEGER}
     </if>
     order by episode_exist desc
  </select>
  
  
  <select id = "queryKvContentByShortFlag" resultMap="BaseResultMap">
     select * from k_video_content where 1=1 and status=1 and short_flag =#{shortFlag}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from k_video_content
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kittydaddy.metadata.vcontent.domain.KVContentEntity" useGeneratedKeys="true" keyProperty="id">
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
       SELECT UUID() FROM dual
    </selectKey>
    insert into k_video_content (id, sub_origin_id, origin_id, 
      source, title, subtitle, 
      rate, tags, channel, 
      short_flag, episode_count,episode_exist, directors, 
      actors, year, last_sn, 
      duration, area, origin_pub_time, 
      language, genres, yester_play_count, 
      weekly_play_count, total_play_count, img_small_url, 
      img_medium_url, img_large_url, status, 
      is_publish, summary, is_free, 
      create_time, update_time, publish_time, 
      operate_id)
    values (#{id,jdbcType=VARCHAR}, #{subOriginId,jdbcType=VARCHAR}, #{originId,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{rate,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{shortFlag,jdbcType=INTEGER}, #{episodeCount,jdbcType=INTEGER},#{episodeExist,jdbcType=INTEGER}, #{directors,jdbcType=VARCHAR}, 
      #{actors,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, #{lastSn,jdbcType=INTEGER}, 
      #{duration,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR}, #{originPubTime,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{genres,jdbcType=VARCHAR}, #{yesterPlayCount,jdbcType=INTEGER}, 
      #{weeklyPlayCount,jdbcType=INTEGER}, #{totalPlayCount,jdbcType=INTEGER}, #{imgSmallUrl,jdbcType=VARCHAR}, 
      #{imgMediumUrl,jdbcType=VARCHAR}, #{imgLargeUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{isPublish,jdbcType=INTEGER}, #{summary,jdbcType=VARCHAR}, #{isFree,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{operateId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kittydaddy.metadata.vcontent.domain.KVContentEntity" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
       SELECT UUID() FROM dual
    </selectKey>
    insert into k_video_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subOriginId != null" >
        sub_origin_id,
      </if>
      <if test="originId != null" >
        origin_id,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="shortFlag != null" >
        short_flag,
      </if>
      <if test="episodeCount != null" >
        episode_count,
      </if>
      <if test="episodeExist != null">
        episode_exist,
      </if>
      <if test="directors != null" >
        directors,
      </if>
      <if test="actors != null" >
        actors,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="lastSn != null" >
        last_sn,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="originPubTime != null" >
        origin_pub_time,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="genres != null" >
        genres,
      </if>
      <if test="yesterPlayCount != null" >
        yester_play_count,
      </if>
      <if test="weeklyPlayCount != null" >
        weekly_play_count,
      </if>
      <if test="totalPlayCount != null" >
        total_play_count,
      </if>
      <if test="imgSmallUrl != null" >
        img_small_url,
      </if>
      <if test="imgMediumUrl != null" >
        img_medium_url,
      </if>
      <if test="imgLargeUrl != null" >
        img_large_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isPublish != null" >
        is_publish,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="isFree != null" >
        is_free,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="operateId != null" >
        operate_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="subOriginId != null" >
        #{subOriginId,jdbcType=VARCHAR},
      </if>
      <if test="originId != null" >
        #{originId,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="shortFlag != null" >
        #{shortFlag,jdbcType=INTEGER},
      </if>
      <if test="episodeCount != null" >
        #{episodeCount,jdbcType=INTEGER},
      </if>
      <if test="episodeExist != null">
        #{episodeExist,jdbcType=INTEGER},
      </if>
      <if test="directors != null" >
        #{directors,jdbcType=VARCHAR},
      </if>
      <if test="actors != null" >
        #{actors,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="lastSn != null" >
        #{lastSn,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="originPubTime != null" >
        #{originPubTime,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="genres != null" >
        #{genres,jdbcType=VARCHAR},
      </if>
      <if test="yesterPlayCount != null" >
        #{yesterPlayCount,jdbcType=INTEGER},
      </if>
      <if test="weeklyPlayCount != null" >
        #{weeklyPlayCount,jdbcType=INTEGER},
      </if>
      <if test="totalPlayCount != null" >
        #{totalPlayCount,jdbcType=INTEGER},
      </if>
      <if test="imgSmallUrl != null" >
        #{imgSmallUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgMediumUrl != null" >
        #{imgMediumUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgLargeUrl != null" >
        #{imgLargeUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isPublish != null" >
        #{isPublish,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="isFree != null" >
        #{isFree,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateId != null" >
        #{operateId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kittydaddy.metadata.vcontent.domain.KVContentEntity" >
    update k_video_content
    <set >
      <if test="subOriginId != null" >
        sub_origin_id = #{subOriginId,jdbcType=VARCHAR},
      </if>
      <if test="originId != null" >
        origin_id = #{originId,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="shortFlag != null" >
        short_flag = #{shortFlag,jdbcType=INTEGER},
      </if>
      <if test="episodeCount != null" >
        episode_count = #{episodeCount,jdbcType=INTEGER},
      </if>
       <if test="episodeExist != null">
        episode_exist = #{episodeExist,jdbcType=INTEGER},
      </if>
      <if test="directors != null" >
        directors = #{directors,jdbcType=VARCHAR},
      </if>
      <if test="actors != null" >
        actors = #{actors,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="lastSn != null" >
        last_sn = #{lastSn,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="originPubTime != null" >
        origin_pub_time = #{originPubTime,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="genres != null" >
        genres = #{genres,jdbcType=VARCHAR},
      </if>
      <if test="yesterPlayCount != null" >
        yester_play_count = #{yesterPlayCount,jdbcType=INTEGER},
      </if>
      <if test="weeklyPlayCount != null" >
        weekly_play_count = #{weeklyPlayCount,jdbcType=INTEGER},
      </if>
      <if test="totalPlayCount != null" >
        total_play_count = #{totalPlayCount,jdbcType=INTEGER},
      </if>
      <if test="imgSmallUrl != null" >
        img_small_url = #{imgSmallUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgMediumUrl != null" >
        img_medium_url = #{imgMediumUrl,jdbcType=VARCHAR},
      </if>
      <if test="imgLargeUrl != null" >
        img_large_url = #{imgLargeUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isPublish != null" >
        is_publish = #{isPublish,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="isFree != null" >
        is_free = #{isFree,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateId != null" >
        operate_id = #{operateId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kittydaddy.metadata.vcontent.domain.KVContentEntity" >
    update k_video_content
    set sub_origin_id = #{subOriginId,jdbcType=VARCHAR},
      origin_id = #{originId,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      short_flag = #{shortFlag,jdbcType=INTEGER},
      episode_count = #{episodeCount,jdbcType=INTEGER},
      episode_exist = #{episodeExist,jdbcType=INTEGER},
      directors = #{directors,jdbcType=VARCHAR},
      actors = #{actors,jdbcType=VARCHAR},
      year = #{year,jdbcType=VARCHAR},
      last_sn = #{lastSn,jdbcType=INTEGER},
      duration = #{duration,jdbcType=INTEGER},
      area = #{area,jdbcType=VARCHAR},
      origin_pub_time = #{originPubTime,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      genres = #{genres,jdbcType=VARCHAR},
      yester_play_count = #{yesterPlayCount,jdbcType=INTEGER},
      weekly_play_count = #{weeklyPlayCount,jdbcType=INTEGER},
      total_play_count = #{totalPlayCount,jdbcType=INTEGER},
      img_small_url = #{imgSmallUrl,jdbcType=VARCHAR},
      img_medium_url = #{imgMediumUrl,jdbcType=VARCHAR},
      img_large_url = #{imgLargeUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      is_publish = #{isPublish,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR},
      is_free = #{isFree,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      operate_id = #{operateId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>