<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kittydaddy.metadata.tenant.dao.TenantFamilyEntityMapper" >
  <resultMap id="BaseResultMap" type="com.kittydaddy.metadata.tenant.domain.TenantFamilyEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="member_type" property="memberType" jdbcType="INTEGER" />
    <result column="member_contact" property="memberContact" jdbcType="VARCHAR" />
    <result column="family_tel" property="familyTel" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="family_type" property="familyType" jdbcType="INTEGER" />
    <result column="relative_id" property="relativeId" jdbcType="BIGINT" />
    <result column="relative_name" property="relativeName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_name, member_type, member_contact, family_tel, address, family_type, relative_id, 
    relative_name, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tenant_family
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tenant_family
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.kittydaddy.metadata.tenant.domain.TenantFamilyEntity" >
    insert into tenant_family (id, member_name, member_type, 
      member_contact, family_tel, address, 
      family_type, relative_id, relative_name, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{memberName,jdbcType=VARCHAR}, #{memberType,jdbcType=INTEGER}, 
      #{memberContact,jdbcType=VARCHAR}, #{familyTel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{familyType,jdbcType=INTEGER}, #{relativeId,jdbcType=BIGINT}, #{relativeName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kittydaddy.metadata.tenant.domain.TenantFamilyEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tenant_family
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="memberType != null" >
        member_type,
      </if>
      <if test="memberContact != null" >
        member_contact,
      </if>
      <if test="familyTel != null" >
        family_tel,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="familyType != null" >
        family_type,
      </if>
      <if test="relativeId != null" >
        relative_id,
      </if>
      <if test="relativeName != null" >
        relative_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        #{memberType,jdbcType=INTEGER},
      </if>
      <if test="memberContact != null" >
        #{memberContact,jdbcType=VARCHAR},
      </if>
      <if test="familyTel != null" >
        #{familyTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="familyType != null" >
        #{familyType,jdbcType=INTEGER},
      </if>
      <if test="relativeId != null" >
        #{relativeId,jdbcType=BIGINT},
      </if>
      <if test="relativeName != null" >
        #{relativeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kittydaddy.metadata.tenant.domain.TenantFamilyEntity" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tenant_family
    <set >
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberType != null" >
        member_type = #{memberType,jdbcType=INTEGER},
      </if>
      <if test="memberContact != null" >
        member_contact = #{memberContact,jdbcType=VARCHAR},
      </if>
      <if test="familyTel != null" >
        family_tel = #{familyTel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="familyType != null" >
        family_type = #{familyType,jdbcType=INTEGER},
      </if>
      <if test="relativeId != null" >
        relative_id = #{relativeId,jdbcType=BIGINT},
      </if>
      <if test="relativeName != null" >
        relative_name = #{relativeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kittydaddy.metadata.tenant.domain.TenantFamilyEntity" >
    update tenant_family
    set member_name = #{memberName,jdbcType=VARCHAR},
      member_type = #{memberType,jdbcType=INTEGER},
      member_contact = #{memberContact,jdbcType=VARCHAR},
      family_tel = #{familyTel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      family_type = #{familyType,jdbcType=INTEGER},
      relative_id = #{relativeId,jdbcType=BIGINT},
      relative_name = #{relativeName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>